/* Autumn Terry 07/23/2025 */
body {
	margin-left: auto;  
	margin-right: auto;
	padding: 1.25em;
	border: 3em solid white;
	}
/* adds a border to the body and centers it */
	
ul {
    list-style-position: inside;
    text-align: center;
    padding: 0;
	list-style-type: '\2665';
	color: #4375a8;
	}
	
* {
	background-color:#ffd4ef
	}
	
h1 {
	color: #a3121c;
	}
	
a	{
	color: #4375a8;
    text-decoration: none;
	}
	
p	{
    text-align: center;
	margin-top: 3em;
	margin-right:10em;
	margin-bottom: 5em;
	font-size: 20px;
	color: #c75b63;
	}
	
h2 {
	text-align: center;
	color: #b33941;
	}
	
img	{
	display: block;
	margin: auto;
	width: 17%;
	border: 8px dotted #b33941;
	}
	
.aerith {
	width: 36%;
	}
/* makes it so the photo on aerith's page is slightly bigger than the others */
	
ol {
    list-style-position: inside;
    text-align: center;
    padding: 0;
	color: #4375a8;
	font-size: 25px;
	}
	
@media only screen and (max-width:800px) {
	img	{
		width: 50%;
		margin: 0 0em 0 6em;
	}
	
	p  {
		margin: 0 0em 0 3em;
	}
	

}

.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
/* contains the columns */


.column1 {
	padding-left: 10%;
	width: 45%;
}
/* first column on the left */

.column2 {
	width: 45%;
}
/* second column on the right */

form {
	width: 60%;
}
/* changes the form size */